/* ------------------------------------- colors --------------------------- */

$primary-color: #00bcd4;
$secondary-color: #000;
$white: #fff;
$star-color: #ff0000;
$grey: #D2D2D2;
//$dark-grey: #777777;
//$light-grey: #eeeeee;


a {
  color: $primary-color;
  &:hover {
    color: darken($primary-color, 10%);
  }
}


.white-color {
  color: white;
}

.border-0 {
  border: none !important;
}

.txt.primary-color {
  color: $primary-color;
}


.btn-group.bootstrap-select.show-tick.open .select-with-transition {
  background-image: linear-gradient($grey, $grey), linear-gradient(#D2D2D2, #D2D2D2) !important;
  background-size: 100% 0px, 100% 1px !important;
}


.bg.primary-background {
  background: $primary-color;
}

.bg.secondary-background {
  background-color: $secondary-color;
}

.bg.primary-background-hover:hover {
  background-color: darken($primary-color, 10%);
}

.txt.white-color {
  color: $secondary-color;
}

/* ------------------------------------- common classes -------------------- */
.alert-info{
  font-size: 24px;
}
.alert{
  span{
    max-width: 100%;
    line-height: 32px;
  }
}
star{
  color: $star-color;
}
.datepicker{
  td.day.active, td.day.active:hover {
    div{
      background-color: $primary-color;
    }
  }
}
.flex{
  display: flex;
}
.align-center{
  align-items: center;
}
/* ---------------------- login page ----------------- */
.form-group.is-focused {
  .form-control {
    background-image: linear-gradient(#26c6da, #00acc1), linear-gradient(#D2D2D2, #D2D2D2);
  }
}



.forgot-pass {
  margin: 10px 0;
}

.link-to-page {
  display: inline-block;
}

/*layout*/

.main-panel {
  height: 100%;
}
.sidebar {
  .user {
    padding-bottom: 5px;
  }
  li{
    &.active {
      a {
        background: $primary-color;
      }
    }
  }
  .sidebar-background {
    &:after {
      background: $secondary-color;
    }
  }
  .user-icon-list {
    padding-top: 20px;
    text-align: center;
    ul {
      list-style: none;
      overflow: hidden;
      padding: 0;
      display: inline-block;
      margin: 0;
    }
    li {
      float: left;
      padding: 6px 15px;
      a {
        padding: 0;
        &:hover {
          color: $white;
        }
      }
    }
  }
}

.sidebar-mini {
  .user-icon-list {
    ul {
      display: flex;
      flex-direction: column;
    }
  }
}

.sidebar .nav i, .sidebar .nav li > a, .sidebar .nav li:hover > a, .sidebar .user .info > a, .navbar > .container-fluid .navbar-brand, .navbar .navbar-form .form-group .form-control, .navbar .navbar-form .form-control {
  color: $white;
}

.btn.btn-white, .btn.btn-white:focus, .btn.btn-white:hover, .navbar .navbar-nav > li > a.btn.btn-white, .navbar .navbar-nav > li > a.btn.btn-white:focus, .navbar .navbar-nav > li > a.btn.btn-white:hover, .navbar .dropdown-menu li a:hover, .navbar .dropdown-menu li a:focus, .navbar .dropdown-menu li a:active, .navbar.navbar-default .dropdown-menu li a:hover, .navbar.navbar-default .dropdown-menu li a:focus, .navbar.navbar-default .dropdown-menu li a:active, .bootstrap-table .dropdown-menu li a:hover, .bootstrap-table .dropdown-menu li a:focus, .bootstrap-table .dropdown-menu li a:active, .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background: $primary-color;
}


.btn .material-icons {
  color: $white;
}

.caret {
  margin-left: 6px;
}

.header-dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
 & > li {
    float: left;
  }
}

.nav.nav-mobile-menu {
  display: none;
}

/* ---------------------- line page ----------------- */

.panel .panel-heading a:hover, .panel .panel-heading a:active, .panel .panel-heading a[aria-expanded="true"]{
  color: $primary-color;
}
.card .form-horizontal .label-on-left, .card .form-horizontal .label-on-right {
  padding: 18px 5px 0 0;
}
//.btn-group.bootstrap-select.show-tick.open .select-with-transition{
//  background-image: $primary-color !important;
//}
.dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu li a:active {
  background-color: $primary-color;
}
.form-horizontal{
  .btn-group{
    margin-top: 0;
  }
  .bootstrap-select.btn-group .dropdown-toggle .filter-option{
    text-transform: initial;
    color: rgb(85, 85, 85);
    font-size: 14px;
  }
  .dropdown-menu li>a{
    font-size: 14px;
  }
}

.btn.dropdown-toggle {
  height: 40px;
}
.card .form-horizontal .label-on-left.label-pad  {
  padding-top: 22px;
}

/* ---------------------- account details ----------------- */

.account-details{
  .form-horizontal {
    margin-top: 25px;
  }
  .img-circle{
    width: 100px;
  }
  .file-label{
    img{
      cursor: pointer;
    }
    input{
      display: none;
    }
  }
  a{
    color: $primary-color;
  }
  .button-container{
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    .btn-info:last-of-type{
      width: 105px;
      margin-left: 25px;
    }
  }
}

table.dataTable>thead>tr>th, table.dataTable>tbody>tr>th, table.dataTable>tfoot>tr>th, table.dataTable>thead>tr>td, table.dataTable>tbody>tr>td, table.dataTable>tfoot>tr>td {
  padding: 10px !important;
}


#datatables_filter {
  margin-top: 15px;
  margin-bottom: 20px;
  .form-control {
    font-size: 16px;
    padding-bottom: 8px;
    height: auto;
  }
}

.request-list {
  list-style: none;
  padding: 0;
  overflow: hidden;
  margin: 0;
  margin-top: 21px;
  li {
    margin-right: 20px;
    font-size: 16px;
  }
}

.supp-request {
  .dropdown-toggle  {
    padding-left: 0;
  }
  .toolbar {
    margin-bottom: 25px;
  }
}

.request-details-list {
  list-style: none;
  overflow: hidden;
  padding-left: 0;
  li {
    width: 100%;
    float: left;
  }
  strong {
    display: block;
    width: 100px;
    float: left;
  }
  span {
    display: block;
    float: left;
  }
}

.attached-files {

  .form-group {
    label {
      display: block;
      margin-bottom: 10px;
    }
  }
}

.attach-item {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  &-outer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.review-col {
  //border-top: 1px solid;
  //border-bottom: 1px solid;
  padding: 15px 0;
  background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: transparent;
}

.review-user-info {
  img {
    width: 100px;
    border-radius: 50%;
  }
  h3 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
  }
}

.comment-collapse {
  input[type='file'] {
    width: 24px;
    height: 24px;
    overflow: hidden;
    cursor: pointer;
  }
}

#createRequest {
  .form-group.label-floating label.control-label, .form-group.label-placeholder label.control-label {
    top: 0;
  }
  .form-group.label-static label.control-label, .form-group.label-floating.is-focused label.control-label, .form-group.label-floating:not(.is-empty) label.control-label {
    top: -20px;
    left: 15px;
  }
 }


.modal-body {
  float: left;
  width: 100%;
  margin-bottom: 25px;
}

.form-horizontal .form-group.attach-file-modal {
  padding: 0;
  overflow: hidden;
  width: 142px;
  margin: 10px 15px;
  label {
    padding: 10px;
    width: 100%;
  }
}

.ticket-status {
  width: 40px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border-radius: 3px;
  color: white;
  &.status-open {
    background: green;
  }
  &.status-done {
    background: $primary-color;
  }
}




.dashboard {
  .card {
    p.category {
      font-size: 17px;
    }
  }
}

.top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 0 15px;
  .progress {
    margin: 0 10px;
    width: 60%;
    height: 8px;
  }
  .data-storage {
    width: 45px;
  }
}